---
import type { CollectionEntry } from "astro:content";
import { readingTime } from "@lib/utils";

type Props = {
  entry: CollectionEntry<"blog"> | CollectionEntry<"projects">;
}

const { entry } = Astro.props;
const formattedDate = entry.data.date.toLocaleString('en-US', { month: 'short', day: 'numeric' });
---
<a href={`/${entry.collection}/${entry.slug}`} class="relative group flex flex-nowrap justify-between py-3 text-foreground/80 hover:text-foreground transition-colors duration-300 ease-in-out">
  <div class="flex items-center gap-x-5">
    <div class="text-xs uppercase font-bold min-w-[45px] text-muted-foreground group-hover:text-foreground transition-colors duration-300 ease-in-out">
      {formattedDate}
    </div>
    <span class="line-clamp-1">
      {entry.data.title}
    </span>
  </div>
  <div class="flex items-center gap-1">
    <div class="text-xs text-muted-foreground group-hover:text-foreground transition-colors duration-300 ease-in-out sm:inline-flex hidden">
      {readingTime(entry.body)}
    </div>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
      class="size-5 stroke-2 fill-none stroke-current group-hover:stroke-foreground">
      <line x1="5" y1="12" x2="19" y2="12" class="translate-x-3 group-hover:translate-x-0 scale-x-0 group-hover:scale-x-100 transition-transform duration-300 ease-in-out" />
      <polyline points="12 5 19 12 12 19" class="-translate-x-1 group-hover:translate-x-0 transition-transform duration-300 ease-in-out" />
    </svg>
  </div>
</a>
