---
import { readingTime } from "../lib/utils";

const { post } = Astro.props;
---

<div class="mb-6 mt-10 prose prose-gray dark:prose-invert prose-headings:tracking-tight">
  <p class="capitalize font-medium my-1! tracking-tighter!">{readingTime(post.body)}</p>
  <a href={`/posts/${post.id}`}>
    <h1 class="mb-0!">
      {post.data.title}
    </h1>
  </a>
  <p class="capitalize font-medium my-1! tracking-tighter!">{post.data.description}</p>
  <div class="flex items-center gap-2 font-medium">
    <span class="tracking-tighter">{post.data.publishDate.toLocaleDateString('en-CA')}</span>
  {
      !!post.data.tags?.length && (
          <div>
              {post.data.tags.map((tag:string, i:number) => (
                  <>
                      {/* prettier-ignore */}
                      <span class="">
                    <a class="tracking-tight before:content-['#']" href={`/tags/${tag}/`}><span class="sr-only">View more blogs with the tag&nbsp;</span>{tag}
                          </a>{i < post.data.tags.length - 1 && ", "}
                      </span>
                  </>
              ))}
          </div>
      )
  }
  </div>
</div>
