---
import { readingTime } from "../lib/utils";

const { post } = Astro.props;
---

<div class="my-5 prose prose-gray dark:prose-invert prose-headings:tracking-tight max-w-none">
  <p class="capitalize my-1! tracking-tighter! text-sm">{readingTime(post.body)}</p>
  <a href={`/posts/${post.id}`} class="">
    <h2 class="my-0! font-semibold">
      {post.data.title}
    </h2>
  </a>
  <p class="capitalize my-1! tracking-tighter!">{post.data.description}</p>
  <div class="flex items-center gap-2">
    <span class="tracking-tighter">{post.data.publishDate.toLocaleDateString('en-CA')}</span>
  {
      !!post.data.tags?.length && (
          <div>
              {post.data.tags.map((tag:string, i:number) => (
                  <>
                      {/* prettier-ignore */}
                      <span class="">
                    <a class="tracking-tight before:content-['#']" href={`/tags/${tag}/`}><span class="sr-only">View more blogs with the tag&nbsp;</span>{tag}
                          </a>{i < post.data.tags.length - 1 && ", "}
                      </span>
                  </>
              ))}
          </div>
      )
  }
  </div>
</div>
