---
import FormattedDate from '../components/FormattedDate.astro';
import BackToPrev from '../components/BackToPrev.astro';
import Base from '../layouts/Base.astro';
import { readingTime } from "../lib/utils";

const { data, body } = Astro.props;
const { title, description, pubDate, ogImage } = data;
let canonicalURL = new URL(Astro.url.pathname, Astro.site).href;
---

<Base title={title} description={description} ogImage={ogImage}>
  <article class="prose prose-invert mx-auto my-10">
    <div>
      <BackToPrev href="/">
        Back
      </BackToPrev>
      <div class="space-y-1 my-10">
        <div class="flex items-center gap-1.5">
          <div class="font-base text-sm">
            <FormattedDate date={pubDate} name={`date-${title}`} />
          </div>
          &bull;
          <div class="font-base text-sm">
            {readingTime(body)}
          </div>
        </div>
        <h1 class="text-2xl sm:text-3xl" transition:name={`title-${title}`}>
          {title}
        </h1>
      </div>
      <hr />
      <slot />
      <hr />
      <div>
        If you like this kind of content you can help me
        <a
          target="_blank"
          href={`https://x.com/intent/tweet?text=${title + '%0Aby @hudamnhd'}&url=${canonicalURL}`}
        >
          sharing this post on X</a
        >. Thank you!
      </div>
    </div>
  </article>
</Base>

<script>
  const backToTop = document.getElementById("back-to-top") as HTMLButtonElement;
  backToTop.addEventListener("click", () => {
      document.documentElement.scrollTo({ behavior: "smooth", top: 0 });
  });
</script>
