---
import FormattedDate from '../components/FormattedDate.astro';
import BackToPrev from '../components/BackToPrev.astro';
import Base from '../layouts/Base.astro';
import { readingTime } from "../lib/utils";

const { data, body } = Astro.props;
const { title, description, pubDate, ogImage } = data;
let canonicalURL = new URL(Astro.url.pathname, Astro.site).href;
---

<Base title={title} description={description} ogImage={ogImage}>
  <article>
    <div>
      <BackToPrev href="/">
        Back
      </BackToPrev>
      <div class="space-y-1 my-10 content">
        <div class="flex items-center gap-2">
          <div>
            <FormattedDate date={pubDate} name={`date-${title}`} />
          </div>
          &bull;
          <p class="my-0!">
            {readingTime(body)}
          </p>
        </div>
        <h1 class="my-0!" transition:name={`title-${title}`}>
          {title}
        </h1>
        <p class="my-3!">
          {description}
        </p>
      </div>
      <hr />
      <div class="content"><slot /></div>
      <br />
      <div class="content border-t py-6">
        <p>If you like this kind of content you can help me
        <a
          target="_blank"
          href={`https://x.com/intent/tweet?text=${title + '%0Aby @hudamnhd'}&url=${canonicalURL}`}
        >
          sharing this post on X</a
        >. Thank you!</p>
      </div>
    </div>
  </article>
  <script is:inline>
    function init() {
      const scrollBtn = document.getElementById("to-top-btn");
      scrollBtn.addEventListener("click", () => {
          document.documentElement.scrollTo({ behavior: "smooth", top: 0 });
      });
    }

    document.addEventListener("astro:after-swap", init);
    init();
  </script>
</Base>


